@import '../../media/styles/_variables';

.experience-item {
    display: grid;
    grid-template-columns: 80px 1fr;
    cursor: pointer;
    margin-bottom: 30px;
    position: relative;
    max-width: 100%;
    grid-gap: 5px;
}

.child-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
}

.experience-item {
    &__logo {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        // overflow: hidden;
        box-shadow: $shadow-black;
        background-color: white;
        position: relative;
        top: 50%;
        transform: translate(0 , -50%);
        background: transparent; // solves problem with white ugly border when img is dark
        img {
            width: inherit;
            height: inherit;
            border-radius: 5px;
        }
        &.blue-line::before {
            content: '';
            width: 13px;
            height: 1px;
            position: absolute;
            right: -17px;
            top: 50%;
            transform: translate(0, -50%);
            background: linear-gradient(to left, rgba(79, 155, 255, 0.5) 0%, rgba(79, 155, 255, 0.5) 50%, rgba(79, 155, 255, 0.1) 100%);
        }
    }
    &__description-block {
        display: grid;
        position: relative;
        grid-template-columns: 1fr 150px;
        grid-template-rows: 60px auto;
        grid-template-areas: 
        "description toggler"
        "content content";
        &::before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            width: 1px;
            background: linear-gradient(to bottom, rgba(79, 155, 255, 0.1) 0%, rgba(79, 155, 255, 0.5) 50%, rgba(79, 155, 255, 0.1) 100%);
        }
        .collapse, .collapsing {
            grid-area: content;
        }
    }
    &__description-header {
        position: relative;
        grid-area: description;
        &__company-name {
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 26px;
            color: $color-blue;
            line-height: 1.5rem;
            padding-left: 20px;
            span {
                font-size: 16px;
                color: $color-font-dark-grey;
                letter-spacing: 0.5px;
                font-weight: 300;
            }
        }
    }
    &__toggler {
        grid-area: toggler;
        height: 60px;
        width: 100%;
        position: relative;
        cursor: pointer;
        .date {
            position: relative;
            top: 14px;
            width: 100%;
            height: 50%;
            color: $color-blue;
            font-size: 14px;
            text-align: right;
        }
        .btn-dropdown {
            position: relative;
            top: 10px;
            width: 100%;
            i.closed {
                position: absolute;
                left: 50%;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 4.5px 0 4.5px;
                border-color: #5E5E5E transparent transparent transparent;
                transition: 0.5s all;
                &:hover {
                    cursor: pointer;
                    border-color: $color-blue transparent transparent transparent;
                }
            }
            i.open {
                position: absolute;
                left: 50%;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 4.5px 5px 4.5px;
                border-color: transparent transparent #5E5E5E transparent;
                transition: 0.5s all;
                &:hover {
                    cursor: pointer;
                    border-color: transparent transparent $color-blue transparent;
                }
            }
        }
    }
    &__content {
        padding: 0 20px;
        color: $color-font-light-grey;
        letter-spacing: 0.5px;
        &__title {
            position: relative;
            span {
                color: $color-blue;
            }
            &::before {
                content: '';
                width: 13px;
                height: 0.5px;
                position: absolute;
                left: -16px;
                top: 60%;
                transform: translate(0, -50%);
                background: linear-gradient(to right, rgba(79, 155, 255, 0.5) 0%, rgba(79, 155, 255, 0.5) 50%, rgba(79, 155, 255, 0.1) 100%);
            }
        }
        &__description {
            p {
                margin-bottom: 0;
            }
            ul {
                padding-left: 27px;
                margin-bottom: 5px;
            }
        }
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle, rgba(99, 149, 255, 0.1), transparent);
        opacity: 0;
        transition: 0.2s all;
    }
    &:hover:before {
        opacity: 1;
        transition: 0.2s all;
    }
    &:hover {
        .experience-item__toggler .btn-dropdown i.open {
            border-color: transparent transparent $color-blue transparent;
            transition: 0.5s all;
        }
        .experience-item__toggler .btn-dropdown i.closed {
            border-color: $color-blue transparent transparent transparent;
            transition: 0.5s all;
        }
    }
}

.experience-item__description-header__company-name  {
    .mobile-view.date {
        display: none;
    }   
}

@media (max-width: 830px) {
    .experience .main__container:first-child {
        padding: 20px 10px;
    }
    .experience .main__container--padding-sm {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .experience-item {
        grid-template-columns: 70px 1fr;
    }
    .experience-item:before {
        background-image: radial-gradient(circle, rgba(99, 149, 255, 0.075), transparent);
    }
    .experience-item__logo.blue-line:before {
        display: none;
    }
    .experience-item__description-header__company-name {
        padding-left: 10px;
        font-size: 20px;
        span {
            font-size: 13px;
            display: inline-block;
            line-height: 15px;
        }
    }

    .experience-item__description-block {
        grid-template-areas: 
        "description description"
        "content content";
    }
    .experience-item__toggler {
        width: unset;
        position: absolute;
        top: 0;
        right: 0;
        .date {
            font-size: 13px;
            height: auto;
            top: 8px;
            padding-right: 5px;
        }
        .btn-dropdown {
            display: none;
        }
    }
    .experience-item__content {
        // font-size: 14px;
    }
}

@media (max-width: 499px) {
    
    
    .experience-item {
        grid-template-columns: 50px 1fr;
        margin-bottom: 10px;
        // height: 70px;
    }
    .experience-item:before {
        width: 100vw;
        position: absolute;
        right: 50%;
        transform: translate(50%, 0);
    }
    .experience-item__description-block {
        grid-template-rows: 75px auto;
    }
    .experience-item__logo {
        top: 18px;
        transform: none;
        width: 40px;
        height: 40px;
        left: 2px;
    }
    .experience-item__description-header__company-name  {
        span {
            color: $color-font-light-grey;
        }
        .mobile-view.date {
            display: block;
            color: #AEAEAE;
        }   
        
    }
    .experience-item__toggler {
        display: none;
    }

}