@import '../../media/styles/_variables';

.experience-item {
    display: grid;
    grid-template-columns: 80px 1fr;
    cursor: pointer;
    margin-bottom: 30px;
    position: relative;
}

.child-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.experience-item {
    &__logo {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        // overflow: hidden;
        box-shadow: $shadow-black;
        background-color: white;
        position: relative;
        img {
            width: inherit;
            height: inherit;
            border-radius: 5px;
        }
        &.blue-line::before {
            content: '';
            width: 13px;
            height: 0.5px;
            position: absolute;
            
            right: -17px;
            top: 50%;
            transform: translate(0, -50%);
            background: linear-gradient(to left, rgba(79, 155, 255, 0.5) 0%, rgba(79, 155, 255, 0.5) 50%, rgba(79, 155, 255, 0.1) 100%);
        }
            
        
    }
    &__description-block {
        display: grid;
        position: relative;
        grid-template-columns: 1fr 150px;
        grid-template-rows: 60px auto;
        grid-template-areas: 
        "description toggler"
        "content content";
        &::before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            width: 1px;
            background: linear-gradient(to bottom, rgba(79, 155, 255, 0.1) 0%, rgba(79, 155, 255, 0.5) 50%, rgba(79, 155, 255, 0.1) 100%);
        }
        .collapse, .collapsing {
            grid-area: content;
        }
    }
    &__description-header {
        position: relative;
        grid-area: description;
        // &::before {
        //     content: '';
        //     height: 100%;
        //     left: 0;
        //     position: absolute;
        //     width: 1px;
        //     background: linear-gradient(to bottom, rgba(79, 155, 255, 0.1) 0%, rgba(79, 155, 255, 0.5) 50%, rgba(79, 155, 255, 0.1) 100%);
        // }
        &__company-name {
            top: 4px;
            position: relative;
            font-size: 26px;
            color: $color-blue;
            line-height: 1.5rem;
            padding-left: 20px;
            span {
                font-size: 16px;
                color: $color-font-dark-grey;
                letter-spacing: 0.5px;
                font-weight: 300;
            }
        }
    }
    &__toggler {
        grid-area: toggler;
        height: 60px;
        width: 100%;
        position: relative;
        cursor: pointer;
        .date {
            position: relative;
            top: 14px;
            width: 100%;
            height: 50%;
            color: $color-blue;
            font-size: 14px;
            text-align: right;
        }
        .btn-dropdown {
            position: relative;
            top: 10px;
            width: 100%;
            i.closed {
                position: absolute;
                left: 50%;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 4.5px 0 4.5px;
                border-color: #5E5E5E transparent transparent transparent;
                transition: 0.5s all;
                &:hover {
                    cursor: pointer;
                    border-color: $color-blue transparent transparent transparent;
                }
            }
            i.open {
                position: absolute;
                left: 50%;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 4.5px 5px 4.5px;
                border-color: transparent transparent #5E5E5E transparent;
                transition: 0.5s all;
                &:hover {
                    cursor: pointer;
                    border-color: transparent transparent $color-blue transparent;
                }
            }
        }
        // &:hover .btn-dropdown i.closed {
        //     cursor: pointer;
        //     border-color: $color-blue transparent transparent transparent;
        // }
        // &:hover .btn-dropdown i.open {
        //     cursor: pointer;
        //     border-color: transparent transparent $color-blue transparent;
        // }
    }
    &__content {
        padding: 0 20px;
        color: $color-font-light-grey;
        letter-spacing: 0.5px;
        &__title {
            position: relative;
            span {
                color: $color-blue;
            }
            &::before {
                content: '';
                width: 13px;
                height: 0.5px;
                position: absolute;
                left: -16px;
                top: 60%;
                transform: translate(0, -50%);
                // background-color: $color-blue;
                background: linear-gradient(to right, rgba(79, 155, 255, 0.5) 0%, rgba(79, 155, 255, 0.5) 50%, rgba(79, 155, 255, 0.1) 100%);
            }
        }
    }
    &:before {
        // display: none;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle, rgba(99, 149, 255, 0.1), transparent);
        opacity: 0;
        transition: 0.2s all;
    }
    &:hover:before {
        opacity: 1;
        transition: 0.2s all;
    }
    &:hover {
        .experience-item__toggler .btn-dropdown i.open {
            border-color: transparent transparent $color-blue transparent;
            transition: 0.5s all;
        }
        .experience-item__toggler .btn-dropdown i.closed {
            border-color: $color-blue transparent transparent transparent;
            transition: 0.5s all;
        }
    }
}