.wrapper {
    position: relative;
    max-width: 1294px;
    height: auto;
    margin: 0 auto;
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
    border-left: 4px solid #436085;
    position: static !important;
    &::-webkit-scrollbar {
        width: 6px;
        background-color: $color-wet-grey;

    }
    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background-color: rgba(40,150,253, 0.8);
        &:hover {
            background-color: rgba(40,150,253, 1);
        }
    }
    &::-webkit-scrollbar-track {
        background-color: $color-wet-grey;
    }
}

body.modal-open {
    padding-right: 0px !important;
    overflow-y: scroll;
}

