@import '../../media/styles/_variables';


header {
    display: flex;
    justify-content: flex-start;
    height: 100px;
}
.profile-container {
    width: 310px;
    height: 100%;
}

.profile {
    width: 289px;
    height: 56px;
    background-color: $color-wet-grey;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 200px;
    border-top-right-radius: 300px 350px;
    border-bottom-right-radius: 50px;
    box-shadow: $shadow-black-blue-lined;
    position: relative;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    &__photo {
        width: 56px;
        height: 56px;
        border-radius: 100%;
        overflow: hidden;
        border: 1px solid #808080;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
        img {
            max-width: 100%;
            height: auto;
            transform: scaleX(-1);
        }
    }
    &__text {
        margin-left: 13px;
        line-height: 20px;
        align-self: center;
        font-weight: 300;
        cursor: default;
        &--name {
            text-transform: uppercase;
            font-size: 21px;
        }
        &--role {
            font-size: 21px;
            color: $color-blue;
            letter-spacing: 1px;
        }
    }
}

.rates-container {
    width: 430px;
    height: 100%;
    position: relative;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    @media (max-width: 1070px) {
        display: none;
    }
}
.rates {
    &__hourly {
        align-self: center;
        width: 167px;
        height: 27px;
        background-color: $color-wet-grey;
        box-shadow: $shadow-black-blue-lined;
        border-radius: 18px 15px 15px 18px ;
        display: flex;

        &--icon {
            width: 27px;
            height: 27px;
            border-radius: 100%;
            background-color: $color-white;
            position: relative;
            box-shadow: $shadow-black;
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $color-wet-grey;
            }
        }
        &--text {
            align-self: center;
            margin-left: 10px;
            font-size: 19px;
            color: $color-blue;
            > span:first-child {
                font-size: 11px;
                color: $color-font-grey;
                letter-spacing: 0.5px;
            }
            > span:last-child {
                font-size: 16px;
            }
        }
    }
    &__monthly {
        align-self: center;
        width: 207px;
        height: 27px;
        background-color: $color-wet-grey;
        box-shadow: $shadow-black-blue-lined;
        border-radius: 18px 13px 26px 18px ;
        display: flex;
        &--icon {
            width: 27px;
            height: 27px;
            border-radius: 100%;
            background-color: $color-white;
            position: relative;
            box-shadow: $shadow-black;
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $color-wet-grey;
            }
        }
        &--text {
            align-self: center;
            margin-left: 10px;
            font-size: 19px;
            color: $color-blue;
            > span:first-child {
                font-size: 11px;
                color: $color-font-grey;
                letter-spacing: 0.5px;
            }
            > span:last-child {
                font-size: 16px;
            }
        }
    }
    &__divider {
        align-self: center;
        margin: 0 15px;
        color: $color-font-grey;
    }
}

.toggler {
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0px;
    top: 0px;
    z-index: -1;
    display: none;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

nav {
    position: fixed;
    width: 259px;
    height: 100px;
    right: 0px;
    top: 0px;
    z-index: 99999;
    .nav-page-name {
        position: relative;
        color: $color-font-grey;
        font-size: 14px;
        letter-spacing: 1.2px;
        font-weight: 300;
        height: 20px;
        margin: 5px 0 5px 0;
        width: 260px;
        vertical-align: middle;
        text-align: center;
        line-height: 20px;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        span {
            color: $color-blue;
        }
    }
    .nav-button {
        min-width: 260px;
        min-height: 37px;
        max-width: 260px;
        max-height: 37px;
        position: relative;
        box-shadow: $shadow-black-blue-lined;
        background: #2896fd;
        background: linear-gradient(to right, #2896fd 0%, #1d6cb7 52%, #37485e 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2896fd', endColorstr='#37485e' GradientType=1 );
        // Border styles
        border-bottom-left-radius: 10px 30%;
        border-top-left-radius: 25px 70%;
        $border: 1px;
        background-clip: padding-box; /* !important */
        border: $border solid transparent;  /* !important */

        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        // Children positioning
        display: flex;
        justify-content: flex-start;
        i {
            color: #6eadff;
        }
        // Disable blue button outline
        &:focus, &:active {
            outline: none !important;
        }
        &:hover {
            box-shadow: $shadow-black-blue-lined--light;
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
        }
        &.active {
            box-shadow: $shadow-black-blue-lined--light;
            i {
                color: $color-font-grey;
            }
            &:hover {
                cursor: pointer;
            }
            
        }

        // Other elements of the block
        &__icon {
            transform: scaleX(-1.4) scaleY(1.3);
            color: rgba(255,255,255, 0.4);
            margin-left: 10px;
            align-self: center;
        }
        &__text {
            color: $color-white;
            font-weight: 300;
            top: -3px;
            font-size: 22px;
            margin-left: 15px;
        }
    }
    
    .nav-menu {
        position: relative;
        display: flex;
        flex-direction: column;
        top: 4px;
        right: -300px;
        width: 310px;
        z-index: 100;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        
        
        &__item {
            position: relative;
            margin: 2px 0 2px 0;
            background: #2896fd;
            background: linear-gradient(to right, #2896fd 0%, #1d6cb7 52%, #37485e 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2896fd', endColorstr='#37485e' GradientType=1 );
            height: auto;
            padding: 5px 0px 5px 0px;
            width: 310px;
            right: -310px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            text-decoration: none;
            color: $color-white;
            display: block;
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            -o-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
           
            &::before {
                content: '';
                border-radius: 10px;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                z-index: -1;
                box-shadow: $shadow-black-blue-lined;
            }
            &:hover {
                width: 310px;
                box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
                -webkit-transition: 0.1s ease-in-out;
                -moz-transition: 0.1s ease-in-out;
                -o-transition: 0.1s ease-in-out;
                transition: 0.1s ease-in-out;
                .nav-menu__item--text {
                    color: $color-white;
                }
            }

            &.active {
                width: 320px;
                .pointer {
                    width: 0px;
                    height: 0px;
                    border-top: 5px solid transparent;
                    border-left: 6px solid $color-font-grey;
                    border-bottom: 5px solid transparent;
                    margin-left: -1px;
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    transform: translate(0, -50%);
                }
                .nav-menu__item--text {
                    color: $color-white;
                }

            }
            &--text {
                margin-left: 12px;
                align-self: center;
                font-size: 17px;
                letter-spacing: 2px;
                font-weight: 300;
                span {
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 1.3px;
                    padding-bottom: 3px;
                    font-weight: 300;
                    color: #dee2e6;
                    display: block;
                }
            }
            
        }
    }
}
body {
    height: auto;
    min-height: 100vh;
    position: relative;
}

.page-frame {
    min-height: calc(100vh - 100px - 50px);
    padding-bottom: 100px;
}


footer {
    width: 100%;
    height: 50px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    color: $color-font-dark-grey;
    align-items: center;
    .copyright {
        font-size: 14px;
        padding: 0 20px;
        // color: $color-font-dark-grey;
    }
    .contacts {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > div:first-child {
            margin-right: 40px;
        }
    }
    .designed {
        padding: 0 20px;
        display: block;
        position: relative;
        cursor: pointer;
        span {
            color: $color-orange;
        }
        &:hover {
            cursor: pointer;
        }
    }
    @media (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: center;
        height: 65px;
        .contacts {
            width: 100%;
            justify-content: space-evenly;
            > div:first-child {
                margin-right: 0px;
            }
        }
        .designed {
            text-align: center;
            width: 100%;
            height: 30px;
        }
        .copyright {
            display: none;
        }
    }
    @media (max-width: 400px) {
        
        .contacts {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            > div {
                width: 100%;
                text-align: center;
            }
        }
        
    }
}